*{
    box-sizing: border-box;
}

/* 
    .flex-container {
    display: flex;
    justify-content: center;
    }
    вирівнює елементи по горизонталі по центру 
*/

.perent{

}

.item.red{
    width: 100px;
    height: 100px;
    background-color: red;
    
}
.item.green{
    width: 100px;
    height: 100px;
    background-color: green;
    
}

.item.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    
}

.item:nth-child(2){
    flex-grow: 1;
}