:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --primary-dark: #31261a;
  --primary-light: #faf4ea;
}

/* Base */
body {
  color: var(--primary-dark);
  font-family: Poppins, sans-serif;
}

ul {
  list-style-type: none;
}

/* Button */
.button {
  color: var(--primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
}

/* Links */
.link {
  color: var(--primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
  color: var(--primary-light);

  text-align: center;
  /* text-transform: uppercase; */
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantage section */
.adventages-list {
  background-color: var(--color-brand-light);
  color: var(--primary-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}
/* Traditions section */
.tradition-text .brand {
  color: var(--color-brand-light);
}

.tradition-text .uppercase {
  text-transform: uppercase;
}
