@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v24-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  /* CSS змінні */
  --color-brand-light: #819b57; /* світлий брендований колір */
  --color-brand-dark: #465929;
  --color-brand-secondary: #a18268;
  --primary-dark: #31261a;
  --primary-normal: #faf4ea;
  --color-light: #cfcfbc;
}

/* Base */

* {
  box-sizing: border-box; /* щоб padding і border не збільшували розмір елемента */
}

body {
  background-color: var(--primary-normal);
  color: var(--primary-dark); /* стандартний колір тексту для всього сайту */
  font-family: Poppins, sans-serif; /* стандартний шрифт для всього сайту */
  font-size: 18px; /* стандартний розмір шрифту для тексту */
  font-weight: 400; /* стандартний вагу шрифту для тексту */
  margin: 0; /* прибирає стандартні відступи браузера */
  line-height: 1.5; /* завжди використовуєм коефіціент 1.5 для гарної читабельності тексту */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; /* прибирає стандартні відступи браузера */
}

.container {
  /* обгортка для контенту */
  width: 100%; /* ширина контейнера на 100% */
  max-width: 1288px; /* максимальна ширина контейнера */
  margin: 0 auto; /* центрує контейнер горизонтально */
  padding: 0 24px; /* відступи зліва і справа всередині контейнера */
}

address {
  font-style: normal; /* прибирає курсив для елемента address */
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; /* прибирає маркери у списку */
}

.section {
  padding: 48px 0; /* відступи зверху і знизу для всіх секцій */
}

.visually-hiden {
  /* приховує елемент для користувача, але залишає його доступним для скрінрідерів */
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--primary-normal);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer; /* змінює вигляд курсора при наведенні на елемент */
  font-weight: 600;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
}

/* Links */
.link {
  color: var(--primary-normal);
  text-decoration: none;
}

.header-menu li:first-child .link {
  color: var(--color-brand-light);
}

.link:hover {
  color: var(--color-brand-light);
  /* font-weight: 600; */
}

/* Header */
.header {
  background-color: rgb(200, 195, 195);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero section */
.hero-section {
  padding: 272px 0;
  background-image: url('../img/couple-in-bakery.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* background-attachment: fixed; */
}
.hero-title {
  margin-bottom: 0;
  color: var(--primary-normal);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  /* font-style: italic; - курсив */
  /* word-spacing: 4px; - відстань між словами */
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); - тінь тексту */
  /* letter-spacing: 4px; - відстань між буквами */
  /* text-transform: uppercase; - регістр тексту*/
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantage section */
.adventages-section {
  padding: 16px 0px;
  background-color: var(--color-brand-light);
}

.adventages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.adventages-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--primary-normal);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.section-title.centered {
  text-align: center;
}

/* Traditions section */
.traditions-section {
  padding-top: 96px;
}

.tradition-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.tradition-title {
  margin-bottom: 42px;
}
.tradition-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.tradition-content {
  max-width: 710px;
}

.tradition-text .uppercase {
  text-transform: uppercase;
}

.tradition-text.limited {
  max-width: 340px;
}

/* Chefs section */

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 #faf4ea,
    -16px 16px 0 2px var(--color-brand-secondary);
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-light);
  content: ''; /* обов"язковий елемент для декору */
}

.chef-card{
  display: flex;
  gap: 30px;
}

.chefs-list{
  display: flex;
  gap: 30px;
}

.chefs-item{
  flex-basis: calc((100% - 30px) / 2);
}

.chefs-title {
  margin: 0 auto 80px;
  max-width: 520px;
}

/* Formats section */

.formats-container{
  display: flex;
  gap: 32px;
  align-items: center;
}
.section-title.center {
  text-align: center;
}

.format-card {
  /* box-shadow: 1px 1px 4px 2px violet; /*так задається тінь */
  padding: 24px;
  width: 350px;
  height: 444px;
  background-image: url('../img/PURI_1.jpg');
  border: 1px solid lightcoral;
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--primary-dark) 100%
  );
}

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /**/
}

.formats-item {
  flex-basis: calc((100%-40px) / 3);
  max-width: 349px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}
.formats-title {
  margin-bottom: 80px;
}

/* Carousel */
.carousel-button {
  padding: 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--primary-dark);
  cursor: pointer;
  fill: var(--primary-dark);
}

.carousel-button:hover {
  background-color: var(--primary-dark);
  fill: var(--color-light);
}

/* Contacts section */
.contact-title {
  margin-bottom: 16px;
}

/* Footer */
.adress-link {
  color: var(--primary-normal);
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand-light);
}

.adress-icon {
  fill: var(--primary-normal); /* колір іконок задвється через fill */
}

.adress-icon:hover {
  fill: var(--color-brand-light); /* колір іконок задвється через fill */
}

.adress-copiright {
  font-weight: 400;
  font-size: 14px;
  color: #a18268;
}

.footer {
  background-image: url('../img/footer_bg_img.png');
  background-color: var(--primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .tradition-text {
  white-space: nowrap;  поведінка тексту при переносі рядків 
} */

/*Наприклад:
➔ text-decoration
➔ text-align
➔ text-transform
➔ text-shadow
➔ letter-spacing
➔ word-spacing
➔ white-space  */
