:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --primary-dark: #31261a;
  --primary-light: #faf4ea;
}

/* Base */
body {
  color: var(--primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

/* Button */
.button {
  color: var(--primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
}

/* Links */
.link {
  color: var(--primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
  color: var(--primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  /* word-spacing: 4px; - відстань між словами */
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); - тінь тексту */
  /* letter-spacing: 4px; - відстань між буквами */
  /* text-transform: uppercase; - регістр тексту*/
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantage section */
.adventages-list {
  background-color: var(--color-brand-light);
  color: var(--primary-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}
/* Traditions section */
.tradition-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.tradition-text .uppercase {
  text-transform: uppercase;
}

.tradition-text {
  /*white-space: nowrap;  поведінка тексту при переносі рядків */
}

/*Наприклад:
➔ text-decoration
➔ text-align
➔ text-transform
➔ text-shadow
➔ letter-spacing
➔ word-spacing
➔ white-space  */
