/* .main_title {
  border: 4px solid black;
} */

#title_h1 {
  color: blue;
}
/* звернення до типу */
[type] {
  text-decoration: underline;
}

/* звернення до класу */
.button {
  color: #faf4ea;
  background-color: #819b57;
  border: 4px solid #819b57;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: #465929;
  background-color: transparent;
  border: 4px solid #819b57;
  cursor: pointer;
}

.button:focus {
  color: green;
  background-color: #1a6335;
}
