@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v24-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --primary-dark: #31261a;
  --primary-light: #faf4ea;
}

/* Base */

* {
  box-sizing: border-box; /* щоб padding і border не збільшували розмір елемента */
}
body {
  color: var(--primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* завжди використовуєм коефіціент 1.5 для гарної читабельності тексту */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal; /* прибирає курсив для елемента address */
}

ul {
  list-style-type: none;
}

.section {
  padding: 48px 0;
}

.visually-hiden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Button */
.button {
  color: var(--primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer; /* змінює вигляд курсора при наведенні на елемент */
  font-weight: 600;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
}

/* Links */
.link {
  color: var(--primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* Hero section */
.hero-section {
  padding: 272px 0;
}
.hero-title {
  margin-bottom: 0;
  color: var(--primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  /* font-style: italic; - курсив */
  /* word-spacing: 4px; - відстань між словами */
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); - тінь тексту */
  /* letter-spacing: 4px; - відстань між буквами */
  /* text-transform: uppercase; - регістр тексту*/
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantage section */
.adventages-list {
  background-color: var(--color-brand-light);
  color: var(--primary-light);
}

.adventages-item {
  font-weight: 300;
  font-size: 20px;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}
/* Traditions section */
.traditions-section {
  padding-top: 96px;
}

.tradition-title {
  margin-bottom: 42px;
}
.tradition-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.tradition-text .uppercase {
  text-transform: uppercase;
}

/* Chefs section */
.chef-title{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
  
}
.chefs-title{
  margin-bottom: 80px;
}


/* Formats section */
.section-title.center {
  text-align: center;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}
.formats-title{
  margin-bottom: 80px;
}

/* Contacts section */
.contact-title{
  margin-bottom: 16px;
}

/* Footer */
.adress-link {
  color: var(--primary-light);
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand-light);
}

.adress-copiright {
  font-weight: 400;
  font-size: 14px;
  color: #a18268;
}

/* .tradition-text {
  white-space: nowrap;  поведінка тексту при переносі рядків 
} */

/*Наприклад:
➔ text-decoration
➔ text-align
➔ text-transform
➔ text-shadow
➔ letter-spacing
➔ word-spacing
➔ white-space  */
